<div>
    <p>
        Hi <%= resetPwdData.username %>,
    </p>
    <br>
    <br>
    <p>
    <meta http-equiv="refresh" content="0; url=<%= resetPwdData.link %>" />
       <span>Click on below link to change your password</span>
      <p><%= resetPwdData.link %></p>
       <span><a href="<%= resetPwdData.link %>">Link</a></span>
    </p>
    <br>
    <br>
    <p>
        Thanks!
    </p>

</div>