
<footer class="footer">
    <div class="copy-rights">
        <span>
            <i class="far fa-copyright"></i>Bhagavan
        </span>
    </div>
    <div class="useful-links">
        <div>
            <a href="/">Home</a>

        </div>
        <div>
            <a href="/user/profile">Profile</a>

        </div>

    </div>
    
</footer>