<body>
    <form action="/resetpwd/savepwd/<%=accesstoken%>" method="post">
        <input type="password" name="password" placeholder="Enter new passowrd">
        <input type="password" name="confirmpassword" placeholder="confirm password">
        <input type="submit" value="click here to save your password">
    </form>
</body>