<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <div class="codeial-home">
            <h1>
                codial <%=title%>
            </h1>
            <section id="feed=posts">
                <h4>Posts</h4>
                <%if(locals.user){%>
                <form action="/post/create" method="post">
                    <textarea name="content" id="" cols="30" rows="3" placeholder="Type Post"></textarea>
                    <input type="submit" value="Post">
                </form>
                <%}%>
                <div>
                    <ul>
                        <%for(i of Posts_list){%>

                            
                            <%- include('_posts')%>

                        <%}%> 
                    </ul>
                </div>
            </section>
        </div>
    </body>
</html>