<body>
        <div class="codeial-home">
            <section id="feed-posts">
                <h3 id="post-heading">Posts</h3>
                <%if(locals.user){%>
                <form action="/post/create" method="post" id="new-post-form">
                    <textarea name="content" id="" cols="30" rows="3" placeholder="Type Post"></textarea>
                    <input type="submit" value="Post">
                </form>
                <%}%>
                <div  id="post-list-container">
                    <ul >
                        <%for(i of Posts_list){%>
                            <%- include('_posts')%>                          
                        <%}%> 
                    </ul>
                </div>
            </section>
            <section id="user-friends">
                <h3 id="friends-heading">Friends</h3>
                    <% for(specUser of allusers_list){%>
                        <div class="specific-friend">
                            <a href="/user/profile/<%=specUser.id%>"><i class="fas fa-user"></i>&nbsp;<%=specUser.name%></a> 
                        </div>
                    <%}%>
            </section>
        </div>
    </body>
