<body>
    <form action="/resetpwd/reset" method="post">
        <input type="email" placeholder="Enter your email" name="email">
        <input type="submit" value="click here to change password">
    </form>
</body>