<link rel="stylesheet" href="/css/user_profile.css">
    <body>
        <h1>This is main content</h1>
        <div class="one">
          THIS IS SEPERATE DIV IT NEED SOME SPECIFIC COLORS
        </div>
    </body>
