<link rel="stylesheet" href="/css/userSignin.css">
<body>
    <h1>User sign in</h1>
    <div class="sign-in">
        <p>
            <a href="/user/auth/google">GooglesignIn/Signup</a>
        </p>
        <form action="/user/create-session" method="post">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="password" name="password" placeholder="Enter your password">
            <input type="submit" value="sign-in">
        </form>
        <a href="/resetpwd">Forgot password</a>

    </div>
</body>

