<link rel="stylesheet" href="/css/user_profile.css">
    <body>
        <div class="user-profile">
            <h1>This is main content</h1>
            <p>name:<%= user.name%></p>
            <p>email:<%= user.email%></p>
        </div>

    </body>
