
<h1>User sign up</h1>
<form action="/user/create" method="post">
    <input type="text" name="name" placeholder="Enter your name">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <input type="password" name="confirmpassword" placeholder="confirm your password">
    <input type="submit" value="sign-up">
</form>