.footer
{
    width: 100%;
    height: 4rem;
    bottom: 0;
    background-color:rgb(80, 78, 78);
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    .copy-rights
    {
        margin-left: 1rem;
        font-size: 1.4rem;
    }
    .useful-links
    {
        margin-left: 2rem;
        a
        {
            font-size: 1.3rem;
            color: white;
            text-decoration: none;
        }

    }
}