.footer {
  width: 100%;
  height: 4rem;
  bottom: 0;
  background-color: #504e4e;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell; }
  .footer .copy-rights {
    margin-left: 1rem;
    font-size: 1.4rem; }
  .footer .useful-links {
    margin-left: 2rem; }
    .footer .useful-links a {
      font-size: 1.3rem;
      color: white;
      text-decoration: none; }
